<h3>Create an Account</h3>
    <form action="" [formGroup]="authForm">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Password Confirmation</mat-label>
            <input matInput formControlName="passwordConfrimation">
        </mat-form-field>
        <button mat-raised-button color="primary">Primary</button>
    </form>

    