<h3>Create an Account</h3>
    <form [formGroup]="authForm" class="ui form">

        <div class="field">
            <label>Username</label>
            <input formControlName="username">
        </div>
        {{$any(authForm.get('username')).errors | json}}
    
        <div class="field">
            <label>Password</label>
            <input formControlName="password">
        </div>
        {{$any(authForm.get('password')).errors | json}}

        <div class="field">
            <label>Password Confirmation</label>
            <input formControlName="passwordConfirmation">
        </div>
        <div>
            {{$any(authForm.get('passwordConfirmation')).errors | json}}
        </div>
        <button mat-raised-button color="primary">Primary</button>
        {{authForm.errors | json}}
    </form>

